.content {
    height: 95vh;
    margin-top: 5vh;

    background-color: rgba(240, 240, 240, 0.98);
    border-radius: 2%;

    overflow-y: scroll;
}

.headerrow {
    align-items: flex-end;
}

.container {
    padding: 2rem;
}

.listview {
    margin-top: 2vh;
}

.spinner {
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10vh;
}