.content {
    height: 95vh;
    margin-top: 5vh;

    background-color: rgba(240, 240, 240, 0.98);
    border-radius: 2%;
}

.headerrow {
    align-items: flex-end;
}

.container {
    padding: 2rem;
}

.listview {
    margin-top: 2vh;
}