.container{
    width: 70%;
    height: 3rem;

    background-color: rgba(173, 173, 173, 0.5);
    color: rgb(0, 0, 0);

    align-items: center;
    display: flex;

    padding-left: 3%;
    border-radius: 30px;
    border: 2px #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wcontainer{
    width: 70%;
    height: 3rem;

    background-color: rgba(231, 231, 231, 0.5);
    color: rgb(0, 0, 0);

    align-items: center;
    display: flex;

    padding-left: 3%;
    border-radius: 30px;
    border: 2px #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
