.wrapper {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/homebg.jpg");
    background-position: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 65%;
    height: 45%;

    background-color: rgba(90, 90, 90, 0.8);
    border-radius: 2%;
    box-shadow: 0.2rem 0.2rem rgba(90, 90, 90, 0.9);
}